body {
  background-color: rgb(196, 161, 196);
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.number {
  font-family: 'Courier New', Courier, monospace;
  padding-left: 15%;
}

#calc {
  text-align: center;
}
